{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Password Reset Confirm</title>
{% endblock %}
{% block content %}
    <div class="card p-4">
        <div class="pb-3">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <legend class="border-bottom pb-2 mb-4">Password Reset</legend>
                    {{ form | crispy }}
                </div>
                <button class="btn btn-secondary" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
{% endblock %}