{% extends 'base.html' %}
{% block title %}
    <title>Profile: {{ user.username }}</title>
{% endblock %}
{% block content %}
    <div class="mb-4">
        <h3>Profile<span>:</span> {{ user.username }}</h3>
    </div>
    <div class="">
        {% for item in posts reversed %}
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">{{ item. }}</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">{{ item.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ item.date_posted|date:"F d, Y" }}</div>
                    <p class="card-text mb-auto">{{ item.content }}</p>
                    <a href="#">Continue reading</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}