{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Sign Up</title>
{% endblock %}

{% block home_navlink %}
  <li class="nav-item">
      <a class="nav-link" href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block signup_navlink %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
    </li>
{% endblock %} 

{% block content %}
    <div class="card p-4">
    <div class="pb-3">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <legend class="border-bottom pb-2 mb-4">Sign Up</legend>
                {{ form | crispy }}
            </div>
            <button class="btn btn-secondary" type="submit">Sign Up</button>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a href="{% url 'login' %}">Log In</a>
        </small>
    </div>
    </div>
{% endblock %}ock %}