{% extends 'base.html' %}
{% block title %}
    <title>BMedium</title>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>
    {% for item in posts reversed %}
        <form method="POST" action="{% url 'full_post' %}">
            {% csrf_token %}
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <a href="#"><strong class="d-inline-block mb-2 text-primary">{{ item.author }}</strong></a>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">{{ item.title }}</a>
                    </h3>
                    <div class="mb-1 text-muted">{{ item.date_posted|date:"F d, Y" }}</div>
                    <p class="card-text mb-auto">{{ item.content | slice:":290" }} ...</p>
                    <input type="text" name="idd" value="{{ item.id }}" hidden>
                    {#                <a href="full_post#idd-{{ item.id }}">Continue reading</a>#}
                    <button type="submit" class="btn btn-outline-info btn-sm mt-2">Continue reading..</button>
                </div>
            </div>
        </form>
    {% endfor %}
    <!-- /.container -->
{% endblock %}

{% block total_posts_count %}
    <div class="p-3 bg-light rounded">
        <div class="mb-3">
            <h4><i class="font-italic pr-4">Total Posts:</i> <span
                    class="badge badge-secondary">{{ total_posts_count }}</span></h4>
        </div>
        <div class="pt-3 border-top">
            <h4><i class="font-italic pr-4">Total Users:</i> <span
                    class="badge badge-secondary">{{ total_users }}</span></h4>
        </div>
    </div>
{% endblock %}